
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Question List</h2>

<ul>
    @foreach (var question in ViewBag.Questions)
    {
        <li>
            <strong>@question.QuestionText</strong> <br>
            <span>Type: @question.Type</span> <br>
            <span>Mandatory: @(question.IsMandatory ? "Yes" : "No")</span>
        </li>
    }
</ul>